*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
background: rgb(37, 24, 25);
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
}
nav{
    width: 100%;
    display: flex;
    padding: 24px 156px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}
.logo span{
    color: rgb(243, 242, 242);
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.home ul{
    display: flex;
    gap: 48px;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.home ul li a{
    text-decoration: none;
    color: rgb(243, 242, 242);
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}
.home ul img{
    width: 16px;
    height: 16px;
}
.icons{
    display: none;
    gap: 20px;
}
.bottom{
    width: 100%;
    display: flex;
    gap: 18px;
    padding: 64px 156px 56px 156px;
    justify-content: center;
    align-items: center;
}
.writings{
    display: flex;
    flex-direction: column;
}
.writings h1{
    width: 450px;
    color: rgb(243, 242, 242);
font-family: Poppins;
font-size: 40px;
font-weight: 600;
line-height: 140%;
letter-spacing: 0%;
text-align: left;
margin-bottom: 16px;
}
.writings p{
    width: 380px;
    color: rgb(194, 189, 189);
font-family: Poppins;
font-size: 15px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 48px;
}
.writings button{
    width: 148px;
    height: 44px;
    border-radius: 64px;

/* first-color */
background: rgb(220, 56, 69);
color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
border: none;
}
.section-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding: 72px 0px 32px 0px;
    justify-content: center;
    align-items: center;
}
.section-1 h1{
    width: 205px;
    color: rgb(243, 242, 242);
font-family: Poppins;
font-size: 24px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0%;
text-align: center;

}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 145px;
}
.box{
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
}
.yozuvlar{
    width: 134px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.yozuvlar h2{
    color: rgb(243, 242, 242);
font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}
.yozuvlar p{
    color: rgb(194, 189, 189);
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0%;
text-align: center;
}
.section-2{
    width: 100%;
    display: flex;
    gap: 88px;
    padding: 52px 182px 52px 188px;
    justify-content: center;
    align-items: center;
}
.celebrate{
    display: flex;
    flex-direction: column;
}
.celebrate h1{
    width: 235px;
    color: rgb(243, 242, 242);
font-family: Poppins;
font-size: 24px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 24px;
}
.celebrate p{
    width: 372px;
    color: rgb(194, 189, 189);
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 40px;
}
.celebrate button{
    width: 183px;
    height: 40px;
    border-radius: 64px;

/* first-color */
background: rgb(220, 56, 69);
color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
border: none;
}
.section-3{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: center;
    align-items: center;
    padding: 72px 0px 32px 0px;
}
.section-3 h1{
    color: rgb(243, 242, 242);
font-family: Poppins;
font-size: 24px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
}
.conton{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
}
.same{
    padding: 24px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: left;
    justify-content: left;
    border-radius: 12px;
    text-align: left;

box-shadow: 0px 4px 24px 0px rgba(48, 29, 30, 0.1);
/* container-color-dark */
background: rgb(47, 34, 35);                
}
.images{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.images img:nth-child(1){
    margin-left: 136px;
}
.dollar{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}
.dollar span{
    color: rgb(243, 242, 242);
font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.dollar p{
    color: rgb(194, 189, 189);
font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 21px;
letter-spacing: 0%;
text-align: left;
}
.section-4{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
    align-items: center;
    padding: 72px 0px 87px 0px;
}
.section-4 h1{
    color: rgb(243, 242, 242);
font-family: Poppins;
font-size: 24px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
}
.quti{
    display: flex;
    gap: 64px;
    overflow-x: auto;
}
.thesame{
    width: 230px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 12px;

background: rgb(47, 34, 35);
}
.first{
    width: 100%;
    height: 180px;
    background-image: url(images/Ellipse\ 2.svg);
    background-position-y: -70px;
    background-position-x: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.second span{
    color: rgb(243, 242, 242);
font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.second p{
    color: rgb(194, 189, 189);
font-family: Poppins;
font-size: 15px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 21px;
}
.section-5{
    width: 100%;
    padding: 92px 156px 72px 156px;
}
.inner{
    width: 100%;
    display: flex;
    gap: 65px;
    justify-content: center;
    align-items: center;
    padding: 29px;
    border-radius: 32px;

/* container-color-dark */
background: rgb(47, 34, 35);
}
.inner-left{
    display: flex;
    flex-direction: column;
    width: 264px;
}
.inner-left h1{
    color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 36px;
font-weight: 600;
line-height: 54px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 24px;
}
.inner-left input{
    width: 264px;
    height: 55px;
    border-radius: 64px;

/* body-color-dark */
background: rgb(37, 24, 25);
border: none;
padding-left: 24px;
color: white;
}
.inner-left button{
    width: 143px;
    height: 39px;
    border-radius: 64px;

/* first-color */
background: rgb(220, 56, 69);
color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 15px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border: none;
margin-top: 13px;
cursor: pointer;
}
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 112px;
    padding: 72px 183px 48px 156px;
    align-items: center;
    position: relative;
}
.at{
    color: rgb(145, 136, 137);
font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0%;
text-align: left;
}
.top{
    display: flex;
    gap: 140px;
}
.this{
    width: 149px;
}
.this ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.this ul li:nth-child(1) a{
    color: rgb(243, 242, 242);
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
text-decoration: none;
}
.this ul li:nth-child(2) a{
    text-decoration: none;
    color: rgb(194, 189, 189);
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0%;
text-align: left;
}
.our{
    width: 128px;
}
.our ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.our ul li:nth-child(1) a{
    color: rgb(243, 242, 242);
font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 12px;
text-decoration: none;
}
.our ul li a{
    text-decoration: none;
    color: rgb(194, 189, 189);
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.photo-1{
    position: absolute;
    top: 211px;
    left: 168px;
}
.photo-2{
    position: absolute;
    top: 129px;
    right: 49px;
}

/* now gonna do the what we call responsive */

@media screen and (max-width:361px){
.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
}
nav{
    width: 100%;
    padding: 16px 20px 16px 24px;
}
.home{
    display: none;
}
.icons{
    display: flex;
}
.bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    padding: 22px 0px 52px 0px;
}
.bottom img{
    width: 320px;
}
.writings{
    width: 100%;
    text-align: center;
    align-items: center;
}
.writings h1{
    width: 312px;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    margin-bottom: 12px;
}
.writings p{
    width: 250px;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 40px;
}
.section-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 48px 0px 32px 0px;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 28px;
}
.section-2{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 48px 0px 32px 0px;
}
.celebrate{
    width: 100%;
    text-align: center;
    align-items: center;
}
.celebrate h1{
    width: 205px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
.celebrate p{
    width: 312px;
    text-align: center;
    font-size: 15px;
    line-height: 23px;
}
.section-2 img{
    width: 280px;
}
.section-3{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    padding: 48px 0px 32px 0px;
}
.conton{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 24px;
    align-items: center;
    justify-content: center;
}
.same{
    width: 144px;
    height: 192px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.images{
    width: 100%;
}
.images img:nth-child(1){
    margin-left: 109px;
}
.images img:nth-child(2){
    width: 100px;
    height: 100px;
   
}
.dollar{
    width: 100%;
}
.dollar span{
    font-size: 16px;
    line-height: 24px;
}
.dollar p{
    font-size: 13px;
    line-height: 20px;
}
.section-4{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 48px 0px 32px 0px;
}
.quti{
    width: 100%;
}
.thesame{
    min-width: 230px;
}
.section-5{
    width: 100%;
    padding: 48px 24px;
}
.inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px 0px 17px 0px;
}
.inner-left{
    width: 100%;
    text-align: center;
    align-items: center;
}
.inner-left h1{
    width: 116px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}
.inner-left button{
    width: 264px;
}
.inner img{
    width: 200px;
}
footer{
    width: 100%;
    gap: 80px;
    padding: 49px 0px 32px 24px;
    overflow: hidden;
}
.top{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.photo-1{
    position: absolute;
    top: 201px;
    left: 209px;
}
.photo-1 img{
    width: 100px;
}
.photo-2{
    position: absolute;
    top: 467px;
    left: 303px;
}




}







